/*
 * # Fonts
 * 	## Rhodium Libre
 * 	## Open Sans
 */


/* *
 * # Fonts
 */

/* *
 * ## Rhodium Libre
 */

/* rhodium-libre-regular - latin */
@font-face {
  font-family: 'Rhodium Libre';
  font-style: normal;
  font-weight: 400;
  src: url('rhodium-libre-v3-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Rhodium Libre'), local('RhodiumLibre-Regular'),
       url('rhodium-libre-v3-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('rhodium-libre-v3-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('rhodium-libre-v3-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('rhodium-libre-v3-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('rhodium-libre-v3-latin-regular.svg#RhodiumLibre') format('svg'); /* Legacy iOS */
}
/* *
 * ## Open Sans
 */

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('open-sans-v15-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('open-sans-v15-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'),
       url('open-sans-v15-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('open-sans-v15-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
       url('open-sans-v15-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('open-sans-v15-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-600italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'),
       url('open-sans-v15-latin-600italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('open-sans-v15-latin-600italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
